#spinner {
    width: 25px;
    height; 25px;
}

#radioBtn .notActive{
    color: #999;
    background-color: #fff;
}

#chart-container {
  -webkit-transition: opacity 0.2s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.2s;
  opacity: 1;
}

#chart-container.shaded {
  opacity: 0.2;
  -webkit-transition: opacity 0.2s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0s;
}
